name: Build matrix

on:
  workflow_call:
    outputs:
      matrix:
        value: ${{ jobs.setup-matrix.outputs.matrix }}

jobs:
  # IMPORTANT: in case of changing the structure of this file make sure to test
  # the changes against `npm/gen-root.ts` file
  setup-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.setup-matrix.outputs.matrix }}
    steps:
      - id: setup-matrix
        uses: druzsan/setup-matrix@v2
        with:
          matrix: |
            build:
              [
                linux-x64-gnu,
                linux-x64-musl,
                linux-arm64-gnu,
                linux-arm64-musl,
                darwin-arm64,
              ]
            include:
              - build: linux-x64-gnu
                os: ubuntu-latest
                rust: stable
                target: x86_64-unknown-linux-gnu
                libc: glibc

              - build: linux-x64-musl
                os: ubuntu-latest
                rust: stable
                target: x86_64-unknown-linux-musl
                libc: musl
                cross: true

              - build: linux-arm64-gnu
                os: ubuntu-latest
                rust: stable
                target: aarch64-unknown-linux-gnu
                libc: glibc
                cross: true

              - build: linux-arm64-musl
                os: ubuntu-latest
                rust: stable
                target: aarch64-unknown-linux-musl
                libc: musl
                cross: true

              - build: darwin-arm64
                os: macos-latest
                rust: stable
                target: aarch64-apple-darwin
                test: false
